/* 清除默认样式 */
*{
	margin: 0;
	padding: 0;//
}
li{
	list-style: none;
	margin: 0;
}
img{
	vertical-align: top;/* 设置图片在垂直方向上的对齐方式 */
}
a{
	text-decoration: none;/* 去除默认下划线 */
	outline: none;/* 去除旧版浏览器点击后的虚线框 */
	color: #000;/* 去除点击前后的颜色变化 */	
}
h1,h2,h3,h4,h5,h6,p{
	font-family: "PingFang SC","Microsoft Yahei","SimSun" ;
}

/* 响应式框架样式 */
.responsiv_div{
	margin: 0 auto;
	width: 1200px;
	/* 网页端的最大尺寸1200以上 */
}

/* header 头部区域*/
.responsiv_header{
	margin-top: 60px;
}
/* logo区域 */
.logo_div{
	float: left;
	height: 40px;
}
/* 左边的img */
.logo_img_left{
	transition: 0.4s;
	}
/* 右边的img */
.logo_img_right{
	margin-left:-8px;/* 让两个img紧贴 */
	transition: 0.4s;
	}
/* 共同的动画效果 */
.logo_img_right:hover,.logo_img_left:hover{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: 0.4s;
}

/* nav导航区域 */
.nav_menu{
	float: right;
}
.nav_menu ul{
	float: left;/* 浮动，这样滑动矩形才可以与之同一行 */
}
.nav_menu li{
	display: inline;/* 菜单同行显示 */
}
.nav_menu a{
	font-size: 20px;/* 字体大小 */
	margin: 0 18px;
	text-align: left;
	line-height: 40px;
	/* a标签上下居中，再设置其宽度，才有用 */
} 
.nav_menu a:hover{
	border-bottom: #000000 4px solid;
}
#sliding_rec{
	/* 样式设置 */
	height: 40px;
	width: 80px;
	border-radius: 20px;
	/* 位置设置 */
	float: left;
	position: absolute;/* 脱离文档流 */
	z-index: -1;
}

/* 滑动矩形 动画 */
@-webkit-keyframes from1{
	100%{
		background-color: #000000;
	}
}
@-webkit-keyframes from2{
	100%{
		transform: translateX(80px);
		background-color: #000000;
	}
}
@-webkit-keyframes from3{
	100%{
		transform: translateX(160px);
		background-color: #000000;
	}
}
@-webkit-keyframes from4{
	100%{
		transform: translateX(240px);
		background-color: #000000;
	}
}
@-webkit-keyframes from1to2{
	0%{
		width: var(80px);
		background-color: #000000;
	}
	50%{
		width: 160px;
		transform: translateX(0);
	}
	100%{
		width: 80px;
		transform: translateX(80px);
		background-color: #000000;
	}
}
@-webkit-keyframes from1to3{
	0%{
		width: var(80px);
		background-color: #000000;
	}
	50%{
		width: 240px;
		transform: translateX(0);
	}
	100%{
		width: 80px;
		transform: translateX(160px);
		background-color: #000000;
	}
}
@-webkit-keyframes from1to4{
	0%{
		width: var(80px);
		background-color: #000000;
	}
	50%{
		width: 320px;
		transform: translateX(0);
	}
	100%{
		width: 80px;
		transform: translateX(240px);
		background-color: #000000;
	}
}
@-webkit-keyframes from2to1{
	0%{
		width: var(80px);
		transform: translateX(80px);
		background-color: #000000;
	}
	50%{
		width: 160px;
		transform: translateX(0px);
	}
	100%{
		width: 80px;
		transform: translateX(0px);
		background-color: #000000;
	}
}
@-webkit-keyframes from2to3{
	0%{
		width: var(80px);
		transform: translateX(80px);
		background-color: #000000;
	}
	50%{
		width: 160px;
		transform: translateX(80px);
	}
	100%{
		width: 80px;
		transform: translateX(160px);
		background-color: #000000;
	}
}
@-webkit-keyframes from2to4{
	0%{
		width: var(80px);
		transform: translateX(80px);
		background-color: #000000;
	}
	50%{
		width: 240px;
		transform: translateX(80px);
	}
	100%{
		width: 80px;
		transform: translateX(240px);
		background-color: #000000;
	}
}
@-webkit-keyframes from3to1{
	0%{
		width: var(80px);
		transform: translateX(160px);
		background-color: #000000;
	}
	50%{
		width: 240px;
		transform: translateX(0px);
	}
	100%{
		width: 80px;
		transform: translateX(0px);
		background-color: #000000;
	}
}
@-webkit-keyframes from3to2{
	0%{
		width: var(80px);
		transform: translateX(160px);
		background-color: #000000;
	}
	50%{
		width: 160px;
		transform: translateX(80px);
	}
	100%{
		width: 80px;
		transform: translateX(80px);
		background-color: #000000;
	}
}
@-webkit-keyframes from3to4{
	0%{
		width: var(80px);
		transform: translateX(160px);
		background-color: #000000;
	}
	50%{
		width: 160px;
		transform: translateX(160px);
	}
	100%{
		width: 80px;
		transform: translateX(240px);
		background-color: #000000;
	}
}
@-webkit-keyframes from4to1{
	0%{
		width: var(80px);
		transform: translateX(240px);
		background-color: #000000;
	}
	50%{
		width: 320px;
		transform: translateX(0px);
	}
	100%{
		width: 80px;
		transform: translateX(0px);
		background-color: #000000;
	}
}
@-webkit-keyframes from4to2{
	0%{
		width: var(80px);
		transform: translateX(240px);
		background-color: #000000;
	}
	50%{
		width: 240px;
		transform: translateX(80px);
	}
	100%{
		width: 80px;
		transform: translateX(80px);
		background-color: #000000;
	}
}
@-webkit-keyframes from4to3{
	0%{
		width: var(80px);
		transform: translateX(240px);
		background-color: #000000;
	}
	50%{
		width: 160px;
		transform: translateX(160px);
	}
	100%{
		width: 80px;
		transform: translateX(160px);
		background-color: #000000;
	}
}
.ani11{
	animation: from1 0.01s;
	animation-fill-mode: both;
}
.ani12{
	animation: from1 0.01s;
	animation: from1to2 0.5s;
	animation-fill-mode: both;
}
.ani13{
	animation: from1 0.01s;
	animation: from1to3 0.5s;
	animation-fill-mode: both;
}
.ani14{
	animation: from1 0.01s;
	animation: from1to4 0.5s;
	animation-fill-mode: both;
}
.ani21{
	animation: from2 0.01s;
	animation: from2to1 0.5s;
	animation-fill-mode: both;
}
.ani22{
	animation: from2 0.01s;
	animation-fill-mode: both;
}
.ani23{
	animation: from2 0.01s;
	animation: from2to3 0.5s;
	animation-fill-mode: both;
}
.ani24{
	animation: from2 0.01s;
	animation: from2to4 0.5s;
	animation-fill-mode: both;
}
.ani31{
	animation: from3 0.01s;
	animation: from3to1 0.5s;
	animation-fill-mode: both;
}
.ani32{
	animation: from3 0.01s;
	animation: from3to2 0.5s;
	animation-fill-mode: both;
}
.ani33{
	animation: from3 0.01s;
	animation-fill-mode: both;
}
.ani34{
	animation: from3 0.01s;
	animation: from3to4 0.5s;
	animation-fill-mode: both;
}
.ani41{
	animation: from4 0.01s;
	animation: from4to1 0.5s;
	animation-fill-mode: both;
}
.ani42{
	animation: from4 0.01s;
	animation: from4to2 0.5s;
	animation-fill-mode: both;
}
.ani43{
	animation: from4 0.01s;
	animation: from4to3 0.5s;
	animation-fill-mode: both;
}
.ani44{
	animation: from4 0.01s;
	animation-fill-mode: both;
}


/* 文字动画 */
/* 转白色 */
@-webkit-keyframes turn_white{
	0%{
		color: black;
	}
	100%{
		color: white;
	}
}
.turn_white{
	animation: turn_white 0.5s;
	animation-fill-mode: forwards;
}

/* 内容区域 */
.main_div{
	float: left;
	width: 100%;
	height: auto;
	margin: 100px auto;
	text-align: center;
	}

/* 页脚区域 */
.footer_div{
	float: left;
	width: 100%;
	margin-bottom: 200px;
	text-align: center;
}

.footer_div h1{
	margin: 50px;
	letter-spacing: 3px;
}
